.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url(../images/Watercolor.jpeg);
  background-position: center;
  background-size: cover;
}
